In [41]:
!pip install plotly cufflinks

Requirement already satisfied (use --upgrade to upgrade): plotly in /opt/conda/lib/python3.5/site-packages
Collecting cufflinks
  Downloading cufflinks-0.8.2.tar.gz
Requirement already satisfied (use --upgrade to upgrade): pytz in /opt/conda/lib/python3.5/site-packages (from plotly)
Requirement already satisfied (use --upgrade to upgrade): decorator in /opt/conda/lib/python3.5/site-packages (from plotly)
Requirement already satisfied (use --upgrade to upgrade): nbformat>=4.2 in /opt/conda/lib/python3.5/site-packages (from plotly)
Requirement already satisfied (use --upgrade to upgrade): six in /opt/conda/lib/python3.5/site-packages (from plotly)
Requirement already satisfied (use --upgrade to upgrade): requests in /opt/conda/lib/python3.5/site-packages (from plotly)
Requirement already satisfied (use --upgrade to upgrade): pandas in /opt/conda/lib/python3.5/site-packages (from cufflinks)
Collecting colorlover>=0.2 (from cufflinks)
  Downloading colorlover-0.2.1.tar.gz
Requirement already satisfied (use --upgrade to upgrade): jupyter-core in /opt/conda/lib/python3.5/site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied (use --upgrade to upgrade): jsonschema!=2.5.0,>=2.4 in /opt/conda/lib/python3.5/site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied (use --upgrade to upgrade): traitlets>=4.1 in /opt/conda/lib/python3.5/site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied (use --upgrade to upgrade): ipython-genutils in /opt/conda/lib/python3.5/site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied (use --upgrade to upgrade): python-dateutil>=2 in /opt/conda/lib/python3.5/site-packages (from pandas->cufflinks)
Requirement already satisfied (use --upgrade to upgrade): numpy>=1.7.0 in /opt/conda/lib/python3.5/site-packages (from pandas->cufflinks)
Building wheels for collected packages: cufflinks, colorlover
  Running setup.py bdist_wheel for cufflinks ... - \ done
  Stored in directory: /home/jovyan/.cache/pip/wheels/de/a9/69/f853eccf2c2ac3ba8e7c79f904eedf354fea15d136902cd8b6
  Running setup.py bdist_wheel for colorlover ... - \ done
  Stored in directory: /home/jovyan/.cache/pip/wheels/b8/b0/18/76d3f3088cc73950ed1aa44ea074b93ed37309fea57dec78dc
Successfully built cufflinks colorlover
Installing collected packages: colorlover, cufflinks
Successfully installed colorlover-0.2.1 cufflinks-0.8.2
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Exploration") \
    .getOrCreate()

In [3]:
flights = spark.read.parquet('/data/parquet/flights')

In [4]:
flights.show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|1988|    1|        19|        2|   2130|      2130|   2234|      2231|           PS|     1823|     NA|               64|            61|     NA|       3|       0|   LAX| SCK|     315|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|        20|        3|   2139|      2140|   2242|      2246|           PS|     1823|     NA|               63|            66|     NA|      -4|      -1|   LAX| SCK|     315|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|        21|        4|   2141|      2140|   2250|      2246|           PS|     1823|     NA|               69|            66|     NA|       4|       1|   LAX| SCK|     315|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|        22|        5|   2143|      2140|   2242|      2246|           PS|     1823|     NA|               59|            66|     NA|      -4|       3|   LAX| SCK|     315|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|        24|        7|   2143|      2140|   2243|      2246|           PS|     1823|     NA|               60|            66|     NA|      -3|       3|   LAX| SCK|     315|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|        25|        1|   2143|      2140|   2245|      2246|           PS|     1823|     NA|               62|            66|     NA|      -1|       3|   LAX| SCK|     315|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|        26|        2|   2143|      2140|   2242|      2246|           PS|     1823|     NA|               59|            66|     NA|      -4|       3|   LAX| SCK|     315|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|        27|        3|   2142|      2140|   2241|      2246|           PS|     1823|     NA|               59|            66|     NA|      -5|       2|   LAX| SCK|     315|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|        28|        4|   2141|      2140|   2239|      2246|           PS|     1823|     NA|               58|            66|     NA|      -7|       1|   LAX| SCK|     315|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|        29|        5|   2143|      2140|   2247|      2246|           PS|     1823|     NA|               64|            66|     NA|       1|       3|   LAX| SCK|     315|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|        31|        7|   2143|      2140|   2253|      2246|           PS|     1823|     NA|               70|            66|     NA|       7|       3|   LAX| SCK|     315|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|         1|        5|   1129|      1130|   1232|      1235|           PS|     1824|     NA|               63|            65|     NA|      -3|      -1|   SFO| BUR|     326|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|         2|        6|   1134|      1130|   1237|      1235|           PS|     1824|     NA|               63|            65|     NA|       2|       4|   SFO| BUR|     326|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|         3|        7|   1130|      1130|   1245|      1235|           PS|     1824|     NA|               75|            65|     NA|      10|       0|   SFO| BUR|     326|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|         6|        3|   1130|      1130|   1232|      1235|           PS|     1824|     NA|               62|            65|     NA|      -3|       0|   SFO| BUR|     326|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|         7|        4|   1220|      1130|   1323|      1235|           PS|     1824|     NA|               63|            65|     NA|      48|      50|   SFO| BUR|     326|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|         8|        5|   1132|      1130|   1239|      1235|           PS|     1824|     NA|               67|            65|     NA|       4|       2|   SFO| BUR|     326|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|         9|        6|   1131|      1130|   1241|      1235|           PS|     1824|     NA|               70|            65|     NA|       6|       1|   SFO| BUR|     326|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|        10|        7|   1130|      1130|   1231|      1235|           PS|     1824|     NA|               61|            65|     NA|      -4|       0|   SFO| BUR|     326|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
|1988|    1|        11|        1|   1131|      1130|   1233|      1235|           PS|     1824|     NA|               62|            65|     NA|      -2|       1|   SFO| BUR|     326|    NA|     NA|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [4]:
flights.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)

In [5]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly.plotly as py
import plotly.figure_factory as ff
import pandas as pd

In [7]:
flights.limit(100).toPandas()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1988,1,19,2,2130,2130,2234,2231,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
1,1988,1,20,3,2139,2140,2242,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
2,1988,1,21,4,2141,2140,2250,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
3,1988,1,22,5,2143,2140,2242,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
4,1988,1,24,7,2143,2140,2243,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
5,1988,1,25,1,2143,2140,2245,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
6,1988,1,26,2,2143,2140,2242,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
7,1988,1,27,3,2142,2140,2241,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
8,1988,1,28,4,2141,2140,2239,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
9,1988,1,29,5,2143,2140,2247,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
10,1988,1,31,7,2143,2140,2253,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
11,1988,1,1,5,1129,1130,1232,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
12,1988,1,2,6,1134,1130,1237,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
13,1988,1,3,7,1130,1130,1245,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
14,1988,1,6,3,1130,1130,1232,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
15,1988,1,7,4,1220,1130,1323,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
16,1988,1,8,5,1132,1130,1239,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
17,1988,1,9,6,1131,1130,1241,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
18,1988,1,10,7,1130,1130,1231,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
19,1988,1,11,1,1131,1130,1233,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
20,1988,1,12,2,1130,1130,1233,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
21,1988,1,13,3,1129,1130,1228,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
22,1988,1,14,4,1130,1130,1240,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
23,1988,1,15,5,1130,1130,1240,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
24,1988,1,17,7,1130,1130,1246,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
25,1988,1,18,1,1130,1130,1234,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
26,1988,1,19,2,1131,1130,1235,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
27,1988,1,20,3,1140,1140,1246,1250,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
28,1988,1,21,4,1140,1140,1248,1250,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
29,1988,1,22,5,1146,1140,1249,1250,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1988,1,31,7,1155,1100,1315,1225,PS,1825,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
71,1988,1,24,7,1000,950,1024,1022,PS,1825,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
72,1988,1,31,7,950,950,1028,1022,PS,1825,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
73,1988,1,20,3,1422,1420,1518,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
74,1988,1,21,4,1421,1420,1514,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
75,1988,1,24,7,1422,1420,1514,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
76,1988,1,25,1,1420,1420,1510,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
77,1988,1,27,3,1421,1420,1521,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
78,1988,1,28,4,1420,1420,1507,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
79,1988,1,29,5,1424,1420,1524,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
80,1988,1,31,7,1420,1420,1508,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
81,1988,1,2,6,1220,1217,1329,1319,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
82,1988,1,3,7,1218,1217,1326,1319,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
83,1988,1,4,1,1216,1217,1320,1319,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
84,1988,1,6,3,1227,1217,1331,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
85,1988,1,7,4,1216,1217,1320,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
86,1988,1,8,5,1217,1217,1319,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
87,1988,1,9,6,1217,1217,1328,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
88,1988,1,10,7,1217,1217,1319,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
89,1988,1,11,1,1303,1217,1402,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
90,1988,1,12,2,1217,1217,1316,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
91,1988,1,13,3,1216,1217,1323,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
92,1988,1,14,4,1216,1217,1321,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
93,1988,1,15,5,1218,1217,1317,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
94,1988,1,16,6,1218,1217,1316,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
95,1988,1,17,7,1218,1217,1329,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
96,1988,1,18,1,1216,1217,1317,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
97,1988,1,19,2,1217,1217,1319,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
98,1988,1,20,3,1218,1220,1320,1338,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
99,1988,1,21,4,1219,1220,1316,1338,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA

In [ ]:
table = ff.create_table(flights.limit(100).toPandas())
py.iplot(table, filename='table1')

In [25]:
flights = flights.withColumn('Delayed', flights.ArrDelay > 20)
print("%% delayed/(total): %.02f" % (flights.where(flights.Delayed == True).count() / flights.count()))

% delayed/(total): 0.15

# Flights by Year

In [76]:
import pyspark.sql.functions as func

delayedByYear = flights \
    .groupBy(flights.Year) \
    .pivot("Delayed", ['True', 'False']) \
    .count() \
    .toPandas()
delayedByYear['Total'] = delayedByYear['True'] + delayedByYear['False']
delayedByYear['Delayed'] = delayedByYear['True'] / delayedByYear['Total']
delayedByYear['OnTime'] = delayedByYear['False'] / delayedByYear['Total']
delayedByYear

   Year    True    False    Total   Delayed    OnTime
0  1987  212581  1066612  1279193  0.166184  0.833816
1  1988  668707  4459568  5128275  0.130396  0.869604
2  1989  792093  4151023  4943116  0.160242  0.839758

In [78]:
import plotly.plotly as py
import cufflinks as cf
import pandas as pd
import numpy as np

delayedByYear[['Year', 'Delayed', 'OnTime']].iplot(x='Year', kind='bar', barmode='stack', filename='pandas-bar-chart')

# Flights by Month

In [6]:
delayedByMonth = flights \
    .groupBy(flights.Month) \
    .count() \
    .toPandas()
delayedByMonth

   Month    count
0      7   858284
1     11  1261485
2      3   880261
3      8   872854
4      5   852076
5      6   837592
6      9   839143
7      1   858323
8     10  1318159
9      4   832929
10    12  1308347
11     2   807755

In [7]:
import plotly.graph_objs as go

In [46]:
delayedByMonth.iplot(data, filename='pandas-bar-chart')

In [18]:
url

'https://plot.ly/~geraud/3'