In [1]:
!pip install plotly cufflinks

Requirement already satisfied (use --upgrade to upgrade): plotly in /opt/conda/lib/python3.5/site-packages
Collecting cufflinks
  Downloading cufflinks-0.8.2.tar.gz
Requirement already satisfied (use --upgrade to upgrade): requests in /opt/conda/lib/python3.5/site-packages (from plotly)
Requirement already satisfied (use --upgrade to upgrade): six in /opt/conda/lib/python3.5/site-packages (from plotly)
Requirement already satisfied (use --upgrade to upgrade): pytz in /opt/conda/lib/python3.5/site-packages (from plotly)
Requirement already satisfied (use --upgrade to upgrade): decorator in /opt/conda/lib/python3.5/site-packages (from plotly)
Requirement already satisfied (use --upgrade to upgrade): nbformat>=4.2 in /opt/conda/lib/python3.5/site-packages (from plotly)
Requirement already satisfied (use --upgrade to upgrade): pandas in /opt/conda/lib/python3.5/site-packages (from cufflinks)
Collecting colorlover>=0.2 (from cufflinks)
  Downloading colorlover-0.2.1.tar.gz
Requirement already satisfied (use --upgrade to upgrade): jsonschema!=2.5.0,>=2.4 in /opt/conda/lib/python3.5/site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied (use --upgrade to upgrade): ipython-genutils in /opt/conda/lib/python3.5/site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied (use --upgrade to upgrade): jupyter-core in /opt/conda/lib/python3.5/site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied (use --upgrade to upgrade): traitlets>=4.1 in /opt/conda/lib/python3.5/site-packages (from nbformat>=4.2->plotly)
Requirement already satisfied (use --upgrade to upgrade): python-dateutil>=2 in /opt/conda/lib/python3.5/site-packages (from pandas->cufflinks)
Requirement already satisfied (use --upgrade to upgrade): numpy>=1.7.0 in /opt/conda/lib/python3.5/site-packages (from pandas->cufflinks)
Building wheels for collected packages: cufflinks, colorlover
  Running setup.py bdist_wheel for cufflinks ... - \ done
  Stored in directory: /home/jovyan/.cache/pip/wheels/de/a9/69/f853eccf2c2ac3ba8e7c79f904eedf354fea15d136902cd8b6
  Running setup.py bdist_wheel for colorlover ... - \ done
  Stored in directory: /home/jovyan/.cache/pip/wheels/b8/b0/18/76d3f3088cc73950ed1aa44ea074b93ed37309fea57dec78dc
Successfully built cufflinks colorlover
Installing collected packages: colorlover, cufflinks
Successfully installed colorlover-0.2.1 cufflinks-0.8.2
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Exploration") \
    .getOrCreate()

In [2]:
flights = spark.read.parquet('/data/parquet/flights')

In [3]:
flights.show()

+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+----+-----+----------+
|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|Year|Month|DayOfMonth|
+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+----+-----+----------+
|        4|   1706|      1500|     NA|      1813|           DL|        1| N998DL|               NA|           193|     NA|      NA|     126|   FLL| JFK|    1069|     0|     16|        0|            null|       1|           0|           0|       0|            0|                0|2007|    6|        28|
|        4|   1123|      1125|   1314|      1320|           WN|      774| N512SW|               51|            55|     42|      -6|      -2|   ABQ| AMA|     277|     4|      5|        0|            null|       0|           0|           0|       0|            0|                0|2007|    6|        28|
|        4|     NA|      1900|     NA|      2231|           DL|        2| N998DL|               NA|           211|     NA|      NA|      NA|   JFK| FLL|    1069|     0|      0|        1|               C|       0|           0|           0|       0|            0|                0|2007|    6|        28|
|        4|   2003|      1940|   2159|      2140|           WN|     1123| N603SW|               56|            60|     44|      19|      23|   ABQ| AMA|     277|     5|      7|        0|            null|       0|          12|           0|       0|            0|                7|2007|    6|        28|
|        4|    830|       830|   1511|      1516|           DL|        3| N3754A|              281|           286|    240|      -5|       0|   SLC| JFK|    1989|    26|     15|        0|            null|       0|           0|           0|       0|            0|                0|2007|    6|        28|
|        4|   1010|      1010|   1548|      1555|           WN|     1013| N487WN|              218|           225|    202|      -7|       0|   ABQ| BWI|    1670|     4|     12|        0|            null|       0|           0|           0|       0|            0|                0|2007|    6|        28|
|        4|   1752|      1605|   2134|      1916|           DL|        8| N947DL|              162|           131|    127|     138|     107|   IAH| ATL|     689|    15|     20|        0|            null|       0|           0|           0|      31|            0|              107|2007|    6|        28|
|        4|   2033|      2015|   2304|      2250|           WN|      437| N319SW|               91|            95|     82|      14|      18|   ABQ| DAL|     580|     3|      6|        0|            null|       0|           0|           0|       0|            0|                0|2007|    6|        28|
|        4|   1737|      1645|   1857|      1811|           DL|       11| N679DA|              260|           266|    229|      46|      52|   ATL| SAN|    1891|     3|     28|        0|            null|       0|          42|           0|       0|            0|                4|2007|    6|        28|
|        4|   1506|      1500|   1746|      1740|           WN|      831| N618WN|              100|           100|     86|       6|       6|   ABQ| DAL|     580|     3|     11|        0|            null|       0|           0|           0|       0|            0|                0|2007|    6|        28|
|        4|    903|       910|   1640|      1638|           DL|       12| N6705Y|              277|           268|    244|       2|      -7|   SAN| ATL|    1891|    14|     19|        0|            null|       0|           0|           0|       0|            0|                0|2007|    6|        28|
|        4|   1258|      1240|   1533|      1515|           WN|      973| N341SW|               95|            95|     84|      18|      18|   ABQ| DAL|     580|     4|      7|        0|            null|       0|          18|           0|       0|            0|                0|2007|    6|        28|
|        4|    703|       705|   1335|      1352|           DL|       14| N659DL|              212|           227|    193|     -17|      -2|   PHX| ATL|    1587|     8|     11|        0|            null|       0|           0|           0|       0|            0|                0|2007|    6|        28|
|        4|    914|       910|   1148|      1150|           WN|     1714| N469WN|               94|           100|     82|      -2|       4|   ABQ| DAL|     580|     4|      8|        0|            null|       0|           0|           0|       0|            0|                0|2007|    6|        28|
|        4|   1823|      1735|   1945|      1906|           DL|       15| N917DE|               82|            91|     59|      39|      48|   ATL| TPA|     406|     4|     19|        0|            null|       0|           0|           0|       0|            0|               39|2007|    6|        28|
|        4|   1134|      1140|   1414|      1415|           WN|     2182| N323SW|              100|            95|     88|      -1|      -6|   ABQ| DAL|     580|     4|      8|        0|            null|       0|           0|           0|       0|            0|                0|2007|    6|        28|
|        4|   1714|      1705|   2006|      1935|           DL|       16| N863DA|              172|           150|    116|      31|       9|   ATL| JFK|     760|    33|     23|        0|            null|       0|           9|           0|      22|            0|                0|2007|    6|        28|
|        4|   1707|      1655|   2020|      1935|           WN|     2226| N672SW|              133|           100|    121|      45|      12|   ABQ| DAL|     580|     4|      8|        0|            null|       0|           9|           0|      33|            0|                3|2007|    6|        28|
|        4|   1003|       835|   1211|      1110|           DL|       17| N861DA|              128|           155|    104|      61|      88|   JFK| ATL|     760|     8|     16|        0|            null|       0|           0|          61|       0|            0|                0|2007|    6|        28|
|        4|   1836|      1835|   2109|      2115|           WN|     2576| N480WN|               93|           100|     82|      -6|       1|   ABQ| DAL|     580|     4|      7|        0|            null|       0|           0|           0|       0|            0|                0|2007|    6|        28|
+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+----+-----+----------+
only showing top 20 rows

In [4]:
flights.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)

In [4]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly.plotly as py
import plotly.figure_factory as ff
import pandas as pd

In [5]:
flights.limit(100).toPandas()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1988,1,19,2,2130,2130,2234,2231,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
1,1988,1,20,3,2139,2140,2242,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
2,1988,1,21,4,2141,2140,2250,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
3,1988,1,22,5,2143,2140,2242,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
4,1988,1,24,7,2143,2140,2243,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
5,1988,1,25,1,2143,2140,2245,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
6,1988,1,26,2,2143,2140,2242,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
7,1988,1,27,3,2142,2140,2241,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
8,1988,1,28,4,2141,2140,2239,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
9,1988,1,29,5,2143,2140,2247,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
10,1988,1,31,7,2143,2140,2253,2246,PS,1823,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
11,1988,1,1,5,1129,1130,1232,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
12,1988,1,2,6,1134,1130,1237,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
13,1988,1,3,7,1130,1130,1245,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
14,1988,1,6,3,1130,1130,1232,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
15,1988,1,7,4,1220,1130,1323,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
16,1988,1,8,5,1132,1130,1239,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
17,1988,1,9,6,1131,1130,1241,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
18,1988,1,10,7,1130,1130,1231,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
19,1988,1,11,1,1131,1130,1233,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
20,1988,1,12,2,1130,1130,1233,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
21,1988,1,13,3,1129,1130,1228,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
22,1988,1,14,4,1130,1130,1240,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
23,1988,1,15,5,1130,1130,1240,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
24,1988,1,17,7,1130,1130,1246,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
25,1988,1,18,1,1130,1130,1234,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
26,1988,1,19,2,1131,1130,1235,1235,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
27,1988,1,20,3,1140,1140,1246,1250,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
28,1988,1,21,4,1140,1140,1248,1250,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
29,1988,1,22,5,1146,1140,1249,1250,PS,1824,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1988,1,31,7,1155,1100,1315,1225,PS,1825,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
71,1988,1,24,7,1000,950,1024,1022,PS,1825,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
72,1988,1,31,7,950,950,1028,1022,PS,1825,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
73,1988,1,20,3,1422,1420,1518,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
74,1988,1,21,4,1421,1420,1514,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
75,1988,1,24,7,1422,1420,1514,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
76,1988,1,25,1,1420,1420,1510,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
77,1988,1,27,3,1421,1420,1521,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
78,1988,1,28,4,1420,1420,1507,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
79,1988,1,29,5,1424,1420,1524,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
80,1988,1,31,7,1420,1420,1508,1520,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
81,1988,1,2,6,1220,1217,1329,1319,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
82,1988,1,3,7,1218,1217,1326,1319,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
83,1988,1,4,1,1216,1217,1320,1319,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
84,1988,1,6,3,1227,1217,1331,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
85,1988,1,7,4,1216,1217,1320,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
86,1988,1,8,5,1217,1217,1319,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
87,1988,1,9,6,1217,1217,1328,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
88,1988,1,10,7,1217,1217,1319,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
89,1988,1,11,1,1303,1217,1402,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
90,1988,1,12,2,1217,1217,1316,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
91,1988,1,13,3,1216,1217,1323,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
92,1988,1,14,4,1216,1217,1321,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
93,1988,1,15,5,1218,1217,1317,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
94,1988,1,16,6,1218,1217,1316,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
95,1988,1,17,7,1218,1217,1329,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
96,1988,1,18,1,1216,1217,1317,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
97,1988,1,19,2,1217,1217,1319,1320,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
98,1988,1,20,3,1218,1220,1320,1338,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA
99,1988,1,21,4,1219,1220,1316,1338,PS,1826,...,NA,NA,0,NA,0,NA,NA,NA,NA,NA

In [6]:
flights = flights.withColumn('Delayed', flights.ArrDelay > 20)
print("%% delayed/(total): %.02f" % (flights.where(flights.Delayed == True).count() / flights.count()))

% delayed/(total): 0.15

# Flights by Year

In [7]:
import pyspark.sql.functions as func

delayedByYear = flights \
    .groupBy(flights.Year) \
    .pivot("Delayed", ['True', 'False']) \
    .count() \
    .toPandas()
delayedByYear['Total'] = delayedByYear['True'] + delayedByYear['False']
delayedByYear['Delayed'] = delayedByYear['True'] / delayedByYear['Total']
delayedByYear['OnTime'] = delayedByYear['False'] / delayedByYear['Total']
delayedByYear

   Year    True    False    Total   Delayed    OnTime
0  1987  212581  1066612  1279193  0.166184  0.833816
1  1988  668707  4459568  5128275  0.130396  0.869604
2  1989  792093  4151023  4943116  0.160242  0.839758

In [8]:
import plotly.plotly as py
import cufflinks as cf
import pandas as pd
import numpy as np

delayedByYear[['Year', 'Delayed', 'OnTime']].iplot(x='Year', kind='bar', barmode='stack', filename='pandas-bar-chart')

# Flights by Month

In [9]:
delayedByMonth = flights \
    .groupBy(flights.Month) \
    .pivot("Delayed", ['True', 'False']) \
    .count() \
    .toPandas()
delayedByMonth['Total'] = delayedByMonth['True'] + delayedByMonth['False']
delayedByMonth['Delayed'] = delayedByMonth['True'] / delayedByMonth['Total']
delayedByMonth['OnTime'] = delayedByMonth['False'] / delayedByMonth['Total']
delayedByMonth

   Month    True    False    Total   Delayed    OnTime
0      7  117997   731894   849891  0.138838  0.861162
1     11  188224  1057846  1246070  0.151054  0.848946
2      3  138158   713728   851886  0.162179  0.837821
3      8  121113   744424   865537  0.139928  0.860072
4      5  108663   736065   844728  0.128637  0.871363
5      6  121138   709154   830292  0.145898  0.854102
6      9   91591   738620   830211  0.110323  0.889677
7      1  149771   682077   831848  0.180046  0.819954
8     10  152365  1153756  1306121  0.116655  0.883345
9      4   88553   738116   826669  0.107120  0.892880
10    12  256001  1021724  1277725  0.200357  0.799643
11     2  139807   649799   789606  0.177059  0.822941

In [10]:
delayedByMonth[['Month', 'Delayed', 'OnTime']].iplot(x='Month', kind='bar', barmode='stack', filename='pandas-bar-chart')

In [7]:
import plotly.graph_objs as go

# Flights by Day of Week

In [11]:
delayedByDoW = flights \
    .groupBy(flights.DayOfWeek) \
    .pivot("Delayed", ['True', 'False']) \
    .count() \
    .toPandas()
delayedByDoW['Total'] = delayedByDoW['True'] + delayedByDoW['False']
delayedByDoW['Delayed'] = delayedByDoW['True'] / delayedByDoW['Total']
delayedByDoW['OnTime'] = delayedByDoW['False'] / delayedByDoW['Total']
delayedByDoW

  DayOfWeek    True    False    Total   Delayed    OnTime
0         7  196178  1378751  1574929  0.124563  0.875437
1         3  270005  1386095  1656100  0.163037  0.836963
2         5  269282  1382772  1652054  0.162998  0.837002
3         6  175267  1336158  1511425  0.115961  0.884039
4         1  224610  1422031  1646641  0.136405  0.863595
5         4  279571  1376799  1656370  0.168785  0.831215
6         2  258468  1394597  1653065  0.156357  0.843643

In [13]:
delayedByDoW[['DayOfWeek', 'Delayed', 'OnTime']].iplot(x='DayOfWeek', kind='bar', barmode='stack', filename='pandas-bar-chart')

# Cube

In [15]:
flightsCube = flights.cube(flights.Year, flights.Month, flights.DayOfWeek, flights.Delayed) \
                .count()

In [23]:
flightsCube.where(func.isnull("Month") & func.isnull("DayOfWeek") & ~func.isnull("Delayed") & ~func.isnull("Year")).toPandas()

   Year Month DayOfWeek Delayed    count
0  1988  None      None    True   668707
1  1988  None      None   False  4459568
2  1989  None      None   False  4151023
3  1987  None      None   False  1066612
4  1987  None      None    True   212581
5  1989  None      None    True   792093

In [24]:
flightsCube.where(~func.isnull("Month") & func.isnull("DayOfWeek") & ~func.isnull("Delayed") & ~func.isnull("Year")).toPandas()

    Year Month DayOfWeek Delayed   count
0   1989     7      None   False  348505
1   1988    12      None   False  363160
2   1988    10      None   False  393645
3   1987    11      None    True   63995
4   1989     8      None   False  349487
5   1988     1      None    True   85097
6   1989     9      None   False  354134
7   1989     3      None   False  332425
8   1988     4      None    True   47231
9   1988     1      None   False  324571
10  1989     2      None    True   72131
11  1987    11      None   False  352522
12  1988     2      None    True   67676
13  1989     8      None    True   73018
14  1988     5      None    True   52579
15  1989    11      None   False  351236
16  1988     7      None   False  383389
17  1988    10      None    True   44896
18  1989    10      None   False  373571
19  1989     1      None    True   64674
20  1988     6      None   False  387416
21  1988     3      None   False  381303
22  1989     5      None   False  356426
23  1989     5      None    True   56084
24  1989     7      None    True   64471
25  1988     6      None    True   41746
26  1989    12      None   False  331014
27  1987    10      None    True   49107
28  1987    12      None    True   99479
29  1989    12      None    True   87208
30  1988     5      None   False  379639
31  1988    11      None    True   62205
32  1989     4      None    True   41322
33  1988     8      None    True   48095
34  1988     4      None   False  376616
35  1989     4      None   False  361500
36  1988    12      None    True   69314
37  1988     9      None    True   36743
38  1988     3      None    True   59599
39  1988     9      None   False  384486
40  1989     6      None    True   79392
41  1987    12      None   False  327550
42  1989     3      None    True   78559
43  1989    10      None    True   58362
44  1988     2      None   False  336318
45  1989     6      None   False  321738
46  1989    11      None    True   62024
47  1988     7      None    True   53526
48  1989     9      None    True   54848
49  1988    11      None   False  354088
50  1989     1      None   False  357506
51  1989     2      None   False  313481
52  1987    10      None   False  386540
53  1988     8      None   False  394937

# Flights by carrier

In [25]:
delayedByCarrier = flights \
    .groupBy(flights.UniqueCarrier) \
    .pivot("Delayed", ['True', 'False']) \
    .count() \
    .toPandas()
delayedByCarrier['Total'] = delayedByCarrier['True'] + delayedByCarrier['False']
delayedByCarrier['Delayed'] = delayedByCarrier['True'] / delayedByCarrier['Total']
delayedByCarrier['OnTime'] = delayedByCarrier['False'] / delayedByCarrier['Total']
delayedByCarrier

   UniqueCarrier    True    False    Total   Delayed    OnTime
0             UA  233023  1049956  1282979  0.181627  0.818373
1             EA   90019   546337   636356  0.141460  0.858540
2             PI  143255   718230   861485  0.166288  0.833712
3             PS   10698    53964    64662  0.165445  0.834555
4             AA  193256  1366445  1559701  0.123906  0.876094
5             NW  142110   833291   975401  0.145694  0.854306
6             HP   38127   380468   418595  0.091083  0.908917
7             TW   97460   515380   612840  0.159030  0.840970
8             DL  222791  1488100  1710891  0.130219  0.869781
9             US  231461  1049155  1280616  0.180742  0.819258
10            AS   26029   171561   197590  0.131732  0.868268
11            CO  147214   828079   975293  0.150943  0.849057
12        PA (1)   28522   137179   165701  0.172129  0.827871
13            WN   69416   539058   608474  0.114082  0.885918

In [26]:
delayedByCarrier[['UniqueCarrier', 'Delayed', 'OnTime']].iplot(x='UniqueCarrier', kind='bar', barmode='stack', filename='pandas-bar-chart')

# By Origin -> Dest

In [28]:
#"Origin" , "Dest"
delayedByRoute = flights \
    .groupBy(flights.Origin, flights.Dest) \
    .pivot("Delayed", ['True', 'False']) \
    .count() \
    .toPandas()
delayedByRoute['Total'] = delayedByRoute['True'] + delayedByRoute['False']
delayedByRoute['Delayed'] = delayedByRoute['True'] / delayedByRoute['Total']
delayedByRoute['OnTime'] = delayedByRoute['False'] / delayedByRoute['Total']
delayedByRoute['Route'] = delayedByRoute['Origin'] + delayedByRoute['Dest']
delayedByRoute

     Origin Dest    True   False    Total   Delayed    OnTime   Route
0       TOL  STL   208.0  1248.0   1456.0  0.142857  0.857143  TOLSTL
1       PBI  DCA   157.0  1171.0   1328.0  0.118223  0.881777  PBIDCA
2       ORD  PDX  1572.0  3853.0   5425.0  0.289770  0.710230  ORDPDX
3       ICT  LIT    29.0   295.0    324.0  0.089506  0.910494  ICTLIT
4       ATL  GSP   859.0  8340.0   9199.0  0.093380  0.906620  ATLGSP
5       PHL  MCO  1620.0  5000.0   6620.0  0.244713  0.755287  PHLMCO
6       SNA  PHX   453.0  5122.0   5575.0  0.081256  0.918744  SNAPHX
7       MCI  IAH   144.0  1935.0   2079.0  0.069264  0.930736  MCIIAH
8       MCI  MKE    37.0   460.0    497.0  0.074447  0.925553  MCIMKE
9       GSP  PIT    21.0   217.0    238.0  0.088235  0.911765  GSPPIT
10      ROC  CLE   111.0   704.0    815.0  0.136196  0.863804  ROCCLE
11      EWR  STT   102.0   177.0    279.0  0.365591  0.634409  EWRSTT
12      STX  JFK   419.0  1772.0   2191.0  0.191237  0.808763  STXJFK
13      GRR  PIT   319.0  2240.0   2559.0  0.124658  0.875342  GRRPIT
14      DAY  JFK   223.0   559.0    782.0  0.285166  0.714834  DAYJFK
15      MDW  MEM    77.0   204.0    281.0  0.274021  0.725979  MDWMEM
16      SMF  BUR   241.0  2401.0   2642.0  0.091219  0.908781  SMFBUR
17      ROR  YAP    66.0   200.0    266.0  0.248120  0.751880  RORYAP
18      LNK  OMA    18.0   175.0    193.0  0.093264  0.906736  LNKOMA
19      STL  IND   685.0  4167.0   4852.0  0.141179  0.858821  STLIND
20      JFK  ORD   818.0  1839.0   2657.0  0.307866  0.692134  JFKORD
21      CAE  ATL   855.0  8536.0   9391.0  0.091045  0.908955  CAEATL
22      ICT  IAH    59.0   796.0    855.0  0.069006  0.930994  ICTIAH
23      CPR  DEN    40.0   388.0    428.0  0.093458  0.906542  CPRDEN
24      TPA  CVG   218.0  2184.0   2402.0  0.090758  0.909242  TPACVG
25      CVG  BDL   308.0  1610.0   1918.0  0.160584  0.839416  CVGBDL
26      SJC  ONT   355.0  5200.0   5555.0  0.063906  0.936094  SJCONT
27      AUS  ELP   197.0  2340.0   2537.0  0.077651  0.922349  AUSELP
28      CLE  MCI    48.0   333.0    381.0  0.125984  0.874016  CLEMCI
29      LEX  HTS     NaN     8.0      NaN       NaN       NaN  LEXHTS
...     ...  ...     ...     ...      ...       ...       ...     ...
4124    EWR  HNL    29.0    73.0    102.0  0.284314  0.715686  EWRHNL
4125    IAD  PHX   129.0   376.0    505.0  0.255446  0.744554  IADPHX
4126    ORF  JAX    79.0   706.0    785.0  0.100637  0.899363  ORFJAX
4127    PIT  MYR     7.0    65.0     72.0  0.097222  0.902778  PITMYR
4128    CMH  SDF     9.0   195.0    204.0  0.044118  0.955882  CMHSDF
4129    SLC  LAS   483.0  6595.0   7078.0  0.068240  0.931760  SLCLAS
4130    BTR  LFT    55.0   587.0    642.0  0.085670  0.914330  BTRLFT
4131    SLC  SFO  1428.0  4446.0   5874.0  0.243105  0.756895  SLCSFO
4132    SMF  SAN   420.0  4097.0   4517.0  0.092982  0.907018  SMFSAN
4133    LMT  SFO    11.0    18.0     29.0  0.379310  0.620690  LMTSFO
4134    FLL  IAH   301.0  1593.0   1894.0  0.158923  0.841077  FLLIAH
4135    MCI  MDW   982.0  4907.0   5889.0  0.166752  0.833248  MCIMDW
4136    CLT  MSP   395.0  1175.0   1570.0  0.251592  0.748408  CLTMSP
4137    LGA  SRQ    21.0    46.0     67.0  0.313433  0.686567  LGASRQ
4138    CLT  LYH   366.0  1916.0   2282.0  0.160386  0.839614  CLTLYH
4139    JNU  YAK   119.0   536.0    655.0  0.181679  0.818321  JNUYAK
4140    EWR  MKE    39.0   296.0    335.0  0.116418  0.883582  EWRMKE
4141    SYR  ELM   188.0  1201.0   1389.0  0.135349  0.864651  SYRELM
4142    LAX  ONT    39.0   309.0    348.0  0.112069  0.887931  LAXONT
4143    HPN  ORD   363.0  1440.0   1803.0  0.201331  0.798669  HPNORD
4144    CHS  EWR    97.0   678.0    775.0  0.125161  0.874839  CHSEWR
4145    BNA  OMA    11.0   203.0    214.0  0.051402  0.948598  BNAOMA
4146    PHL  SYR   536.0  2596.0   3132.0  0.171137  0.828863  PHLSYR
4147    STL  DFW  1262.0  9103.0  10365.0  0.121756  0.878244  STLDFW
4148    AZO  DAY   251.0  2669.0   2920.0  0.085959  0.914041  AZODAY
4149    JNU  PSG   107.0   562.0    669.0  0.159940  0.840060  JNUPSG
4150    STL  CMH   484.0  3220.0   3704.0  0.130670  0.869330  STLCMH
4151    JAX  MIA   608.0  3711.0   4319.0  0.140773  0.859227  JAXMIA
4152    PHX  MAF   167.0  1387.0   1554.0  0.107465  0.892535  PHXMAF
4153    FLL  CLT   434.0  2096.0   2530.0  0.171542  0.828458  FLLCLT

[4154 rows x 8 columns]

In [33]:
delayedByRoute[['Origin', 'Dest', 'Delayed']] \
    .iplot(x='Origin', y='Dest', z='Delayed', kind='heatmap', filename='pandas-heatmap-chart', colorscale='spectral')